<div class="main_page"  fxLayout="column" fxLayoutAlign="start stretch" >
    <!--  code of navbar start  -->

    <div class="navbar_div">
    <div class="navbar_" fxLayout="row wrap" >

         <span class="for_title" fxFlex="35" fxFlex.xs="100"  fxLayout="row"  fxLayoutAlign.xs="start" fxLayoutAlign="center center">HandyHand</span>
         <span class="for_names" fxFlex="30" fxFlex.xs="60"   fxLayout="row" fxLayoutAlign="space-between center" >
             <span>Home </span>
             <span>Services </span>
             <span>Contact</span>
             <span> Blog</span>
         </span>
         <span class="for_btn" fxFlex="35"  fxFlex.xs="40"  fxLayout="row" fxLayoutAlign="center center">
             <span class="btn_"  fxLayoutAlign="center center">Become a handyman</span>
         </span>

    </div>
    </div>

    <!--  code of navbar end  -->

    <!--  code of seq content   -->
    
    <div class="most_trusted" fxLayout="column"  fxLayoutAlign="start stretch"  >
        <span class="line_f">Most Trusted Handyman Service in Canada</span>
        <b class="line_s">Find a handyman near you</b>
        <div class="our_cu"  fxLayout="row"  fxLayout.xs="column" fxLayoutAlign="center center" >

            <div class="options" fxFlex="20" fxFlex.xs="40" fxLayout="row" fxLayoutAlign="end stretch">
                <div class="cer mover"></div>
                <div class="cer mover1"></div>
                <div class="cer mover2"></div>
                <div class="cer last"  fxLayout="row" fxLayoutAlign="center center" > 5+</div>
            </div>
            
            <div class="our_seq" fxFlex="20" fxFlex.xs="40"  fxLayout="row" fxLayoutAlign="start center" >
               
                <div  class="aline_i"></div>
                <div  fxLayout="column">
                <span>Our Community</span>
                <span>Lorem ipsum dolor sit amet </span>
              </div>
             
            </div>
            
        </div>
    </div>

    <!-- code of input box start -->

    <div class="input_box" fxLayout="row"  fxLayoutAlign="center center">
    <div class="input_box_inner" fxFlex="60" fxFlex.xs="90" fxLayout="row" fxLayout.xs="column" fxLayoutAlign="space-around center"  fxLayoutAlign.xs="start stretch">


      <div>
          <p>Location</p>
        <div class="dropdown"  >
            <select class="drop">
                <option>Option One </option>
                <option>Option Two </option>
                <option>Option Three </option>
            </select>
        </div>
      </div>

      <div>
        <p>CATAGEORY</p>
      <div class="dropdown" >
          <select class="drop">
              <option>Option One </option>
              <option>Option Two </option>
              <option>Option Three </option>
          </select>
      </div>
    </div>


    <div>
        <p>HOURLY RATE</p>
      <div class="dropdown" >
          <select class="drop">
              <option>Option One </option>
              <option>Option Two </option>
              <option>Option Three </option>
          </select>
      </div>
    </div>


    
    <div>
        <p>HOURLY RATE</p>
      <div class="" >
          <div class="butN"
           fxLayout="row"  fxLayoutAlign="center center">
            Search now
          </div>
      </div>
    </div>


    </div>

    </div>

    <!-- --- crds -->

    <div class="cards" fxLayout="row"   fxLayoutAlign="center center" >

    <div class="font_ma" fxFlex="80"  fxFlex.xs="100" >
        <span class="compo_class_name">Services</span> <br>
        <span class="bold_font">
            Popular Services  <br>
             in your area
        </span>

        <div class="card_cal" fxLayout="row wrap"  fxLayoutAlign="space-between center"  fxLayoutAlign.xs="center center">
            
        <div fxLayout="column">
             <img src="https://picsum.photos/500/300/?image=10" class="for_img"   >  
            <div  fxLayout="column">
                <span class="for_card_title" >Painting</span>
                <span class="for_card_last" fxLayout="row"  fxLayoutAlign="start center"  > <img src="./../../assets/cut.PNG" alt=""> 120 Handymen</span>
            </div>
        </div>



        <div fxLayout="column">
            <img src="https://picsum.photos/500/300/?image=10" class="for_img"   >  
           <div  fxLayout="column">
               <span class="for_card_title" >Painting</span>
               <span class="for_card_last" fxLayout="row"  fxLayoutAlign="start center"  > <img src="./../../assets/cut.PNG" alt=""> 120 Handymen</span>
           </div>
       </div>





       <div fxLayout="column">
        <img src="https://picsum.photos/500/300/?image=10" class="for_img"   >  
       <div  fxLayout="column">
           <span class="for_card_title" >Painting</span>
           <span class="for_card_last" fxLayout="row"  fxLayoutAlign="start center"  > <img src="./../../assets/cut.PNG" alt=""> 120 Handymen</span>
       </div>
   </div>





   <div fxLayout="column">
    <img src="https://picsum.photos/500/300/?image=10" class="for_img"   >  
   <div  fxLayout="column">
       <span class="for_card_title" >Painting</span>
       <span class="for_card_last" fxLayout="row"  fxLayoutAlign="start center"  > <img src="./../../assets/cut.PNG" alt=""> 120 Handymen</span>
   </div>
</div>




<div fxLayout="column">
    <img src="https://picsum.photos/500/300/?image=10" class="for_img"   >  
   <div  fxLayout="column">
       <span class="for_card_title" >Painting</span>
       <span class="for_card_last" fxLayout="row"  fxLayoutAlign="start center"  > <img src="./../../assets/cut.PNG" alt=""> 120 Handymen</span>
   </div>
</div>


        <div fxLayout="column">
            <img src="https://picsum.photos/500/300/?image=10" class="for_img" >  
           <div  fxLayout="column">
               <span class="for_card_title" >Painting</span>
                            <span class="for_card_last" fxLayout="row"  fxLayoutAlign="start center"  > <img src="./../../assets/cut.PNG" alt=""> 120 Handymen</span>

           </div>
       </div>



       <div fxLayout="column">
        <img src="https://picsum.photos/500/300/?image=10" class="for_img" >  
       <div  fxLayout="column">
           <span class="for_card_title" >Painting</span>
                        <span class="for_card_last" fxLayout="row"  fxLayoutAlign="start center"  > <img src="./../../assets/cut.PNG" alt=""> 120 Handymen</span>

       </div>
   </div>

   <div fxLayout="column">
    <img src="https://picsum.photos/500/300/?image=10" class="for_img" >  
   <div  fxLayout="column">
       <span class="for_card_title" >Painting</span>
                    <span class="for_card_last" fxLayout="row"  fxLayoutAlign="start center"  > <img src="./../../assets/cut.PNG" alt=""> 120 Handymen</span>

   </div>
</div>
        </div>
    </div>
</div>

<!--   slider -->

<div class="cards" fxLayout="row"   fxLayoutAlign="center center" >

    <div class="font_ma" fxFlex="80"  fxFlex.xs="100" >
        <span class="compo_class_name"> How To </span> <br>
        <span class="bold_font">
          
            How does it    <br>
            work?

        </span>

        <div class="card_cal" fxLayout="row wrap" fxLayout="row" fxLayout.xs="column"  fxLayoutAlign="center center" >
            
           
            <div class="single_card" fxLayout="column"  fxLayoutAlign="center center">
                <div class="inner_single"  fxLayout="row"  fxLayoutAlign="center center"> 1 </div>
                <span>Select the category</span>
                <span>for your needs</span>
            </div>


            
            <div class="single_card" fxLayout="column"  fxLayoutAlign="center center">
                <div class="inner_single"  fxLayout="row"  fxLayoutAlign="center center"> 1 </div>
                <span>Select the category</span>
                <span>for your needs</span>
            </div>



            
            <div class="single_card" fxLayout="column"  fxLayoutAlign="center center">
                <div class="inner_single"  fxLayout="row"  fxLayoutAlign="center center"> 1 </div>
                <span>Select the category</span>
                <span>for your needs</span>
            </div>
          </div>
    </div>
</div>

<div class="cards" fxLayout="row"   fxLayoutAlign="center center" >

    <div class="font_ma" fxFlex="80"  fxFlex.xs="100" >
        <span class="compo_class_name">Testimonials</span> <br>
        <span class="bold_font">
          
            HandyHand Community  <br>
            Feedback


        </span>
        <div>
            <div class="wrapper card_i"  fxLayout="row"  fxLayoutAlign.xs="center center">
                <div class="one_div_holder"  fxFlex=30 fxFlex.xs=80 >
                    
                      <div class="box height_of">
                        <div fxLayout="column">
                            <p style="font-size: 25px ;color:red;">Customer  Stories</p>
                        <p style="font-size: 14px;">""Great cleaning! Reliable
                            and was able to
                            accommodate my
                            schedule. Would
                            recommend thanks
                            Nikolina!"
                            "</p>

                        </div>
                        <div class="name">Alex Smith</div>

                        <div class="content"  fxLayout="row"  fxLayoutGap="20px"  fxLayoutAlign="start center" >
                            <div class="image">
                              <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRMZFeq1AoRgiRZHBreejt8C16ZUM3VpeoTdA&usqp=CAU" alt="">
                            </div>
                            <div class="info" fxLayoutGap="4px" fxLayout="column"  >
                              <div class="stars">
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="far fa-star"></i>
                                <i class="far fa-star"></i>
                                <i class="far fa-star"></i>
                                <i style="color: #e80404"> 2.0 </i>
                              </div>
                              <div class="name">Alex Smith</div>
                              <div class="job">Furniture move</div>
                            </div>
                          </div>
                        </div>
                </div>


                <div class="multi_holder" fxLayout="row wrap"   fxFlex fxLayoutGap="2vw" fxLayoutGap.xs="0px" fxLayoutAlign.xs="center center">
                   
                    <!-- <div class="box padding_" fxFlex="45"  fxFlex.xs="100" >
                        <div class="content"  fxLayout="row"  fxLayoutGap="20px"   fxLayoutAlign="start center" >
                          <div class="image">
                            <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRMZFeq1AoRgiRZHBreejt8C16ZUM3VpeoTdA&usqp=CAU" alt="">
                          </div>
                          <div class="info" fxLayoutGap="4px" fxLayout="column"  >
                            <div class="stars">
                              <i class="fas fa-star"></i>
                              <i class="fas fa-star"></i>
                              <i class="far fa-star"></i>
                              <i class="far fa-star"></i>
                              <i class="far fa-star"></i>
                              <i style="color: #e80404"> 2.0 </i>
                            </div>
                            <div class="name">Alex Smith</div>
                            <div class="job">Furniture move</div>
                          </div>
                        </div>
                        <p style="font-size: 14px;">"Lorem aliasry ipsum dolor sits ametans, consectetur adipisicing elitits. Expedita reiciendis itaque placeat thuratu, quasi yiuos repellendus repudiandae deleniti ideas fuga molestiae, alias!"</p>
                      </div>

                      <div class="box padding_" fxFlex="45" fxFlex.xs="90">
                        <div class="content"  fxLayout="row"  fxLayoutGap="20px"  fxLayoutAlign="start center" >
                          <div class="image">
                            <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRMZFeq1AoRgiRZHBreejt8C16ZUM3VpeoTdA&usqp=CAU" alt="">
                          </div>
                          <div class="info" fxLayoutGap="4px" fxLayout="column"  >
                            <div class="stars">
                              <i class="fas fa-star"></i>
                              <i class="fas fa-star"></i>
                              <i class="far fa-star"></i>
                              <i class="far fa-star"></i>
                              <i class="far fa-star"></i>
                              <i style="color: #e80404"> 2.0 </i>
                            </div>
                            <div class="name">Alex Smith</div>
                            <div class="job">Furniture move</div>
                          </div>
                        </div>
                        <p style="font-size: 14px;">"Lorem aliasry ipsum dolor sits ametans, consectetur adipisicing elitits. Expedita reiciendis itaque placeat thuratu, quasi yiuos repellendus repudiandae deleniti ideas fuga molestiae, alias!"</p>
                      </div>

                      <div class="box margin_top padding_" fxFlex="45" fxFlex.xs="90">
                        <div class="content"  fxLayout="row"  fxLayoutGap="20px"  fxLayoutAlign="start center" >
                          <div class="image">
                            <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRMZFeq1AoRgiRZHBreejt8C16ZUM3VpeoTdA&usqp=CAU" alt="">
                          </div>
                          <div class="info" fxLayoutGap="4px" fxLayout="column"  >
                            <div class="stars">
                              <i class="fas fa-star"></i>
                              <i class="fas fa-star"></i>
                              <i class="far fa-star"></i>
                              <i class="far fa-star"></i>
                              <i class="far fa-star"></i>
                              <i style="color: #e80404"> 2.0 </i>
                            </div>
                            <div class="name">Alex Smith</div>
                            <div class="job">Furniture move</div>
                          </div>
                        </div>
                        <p style="font-size: 14px;">"Lorem aliasry ipsum dolor sits ametans, consectetur adipisicing elitits. Expedita reiciendis itaque placeat thuratu, quasi yiuos repellendus repudiandae deleniti ideas fuga molestiae, alias!"</p>
                      </div> -->


                      <div class="box margin_top" fxFlex="45" fxFlex.xs="90" >
                        <div class="content"  fxLayout="row"  fxLayoutGap="20px"  fxLayoutAlign="start center" >
                          <div class="image">
                            <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRMZFeq1AoRgiRZHBreejt8C16ZUM3VpeoTdA&usqp=CAU" alt="">
                          </div>
                          <div class="info" fxLayoutGap="4px" fxLayout="column"  >
                            <div class="stars">
                              <i class="fas fa-star"></i>
                              <i class="fas fa-star"></i>
                              <i class="far fa-star"></i>
                              <i class="far fa-star"></i>
                              <i class="far fa-star"></i>
                              <i style="color: #e80404"> 2.0 </i>
                            </div>
                            <div class="name">Alex Smith</div>
                            <div class="job">Furniture move</div>
                          </div>
                        </div>
                        <p style="font-size: 14px;">"Lorem aliasry ipsum dolor sits ametans, consectetur adipisicing elitits. Expedita reiciendis itaque placeat thuratu, quasi yiuos repellendus repudiandae deleniti ideas fuga molestiae, alias!"</p>
                      </div>


                      <div class="box margin_top" fxFlex="45" fxFlex.xs="90" >
                        <div class="content"  fxLayout="row"  fxLayoutGap="20px"  fxLayoutAlign="start center" >
                          <div class="image">
                            <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRMZFeq1AoRgiRZHBreejt8C16ZUM3VpeoTdA&usqp=CAU" alt="">
                          </div>
                          <div class="info" fxLayoutGap="4px" fxLayout="column"  >
                            <div class="stars">
                              <i class="fas fa-star"></i>
                              <i class="fas fa-star"></i>
                              <i class="far fa-star"></i>
                              <i class="far fa-star"></i>
                              <i class="far fa-star"></i>
                              <i style="color: #e80404"> 2.0 </i>
                            </div>
                            <div class="name">Alex Smith</div>
                            <div class="job">Furniture move</div>
                          </div>
                        </div>
                        <p style="font-size: 14px;">"Lorem aliasry ipsum dolor sits ametans, consectetur adipisicing elitits. Expedita reiciendis itaque placeat thuratu, quasi yiuos repellendus repudiandae deleniti ideas fuga molestiae, alias!"</p>
                      </div>


                      <div class="box margin_top" fxFlex="45" fxFlex.xs="90" >
                        <div class="content"  fxLayout="row"  fxLayoutGap="20px"  fxLayoutAlign="start center" >
                          <div class="image">
                            <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRMZFeq1AoRgiRZHBreejt8C16ZUM3VpeoTdA&usqp=CAU" alt="">
                          </div>
                          <div class="info" fxLayoutGap="4px" fxLayout="column"  >
                            <div class="stars">
                              <i class="fas fa-star"></i>
                              <i class="fas fa-star"></i>
                              <i class="far fa-star"></i>
                              <i class="far fa-star"></i>
                              <i class="far fa-star"></i>
                              <i style="color: #e80404"> 2.0 </i>
                            </div>
                            <div class="name">Alex Smith</div>
                            <div class="job">Furniture move</div>
                          </div>
                        </div>
                        <p style="font-size: 14px;">"Lorem aliasry ipsum dolor sits ametans, consectetur adipisicing elitits. Expedita reiciendis itaque placeat thuratu, quasi yiuos repellendus repudiandae deleniti ideas fuga molestiae, alias!"</p>
                      </div>



                      <div class="box margin_top" fxFlex="45" fxFlex.xs="90" >
                        <div class="content"  fxLayout="row"  fxLayoutGap="20px"  fxLayoutAlign="start center" >
                          <div class="image">
                            <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRMZFeq1AoRgiRZHBreejt8C16ZUM3VpeoTdA&usqp=CAU" alt="">
                          </div>
                          <div class="info" fxLayoutGap="4px" fxLayout="column"  >
                            <div class="stars">
                              <i class="fas fa-star"></i>
                              <i class="fas fa-star"></i>
                              <i class="far fa-star"></i>
                              <i class="far fa-star"></i>
                              <i class="far fa-star"></i>
                              <i style="color: #e80404"> 2.0 </i>
                            </div>
                            <div class="name">Alex Smith</div>
                            <div class="job">Furniture move</div>
                          </div>
                        </div>
                        <p style="font-size: 14px;">"Lorem aliasry ipsum dolor sits ametans, consectetur adipisicing elitits. Expedita reiciendis itaque placeat thuratu, quasi yiuos repellendus repudiandae deleniti ideas fuga molestiae, alias!"</p>
                      </div>
                      
          


                </div>
              </div>
            
        </div>
    </div>

</div>



<div class="content add_marg" fxLayout="row"  fxLayoutAlign="space-around center" >

 

     <div class="left box"  fxFlex="50">
         
       <div class="lower _addPadd">
        <div class="topic" class="fut_"> HandyHand </div>
         <div class="topic add_t">Lorem ipsum dolor sit amet, consectetur
            adipiscing elit, sed do eiusmod tempor
            incididunt ut labore et </div>
       
       </div>
     </div>
     <div class="middle box" fxFlex="30">
       <div class="topic"> Products </div>
       <div><a href="#">Fearurs</a></div>
       <div><a href="#">Documentation</a></div>
       <div><a href="#">Referral Program</a></div>
       <div><a href="#">Pricing</a></div>
     </div>
     <div class="middle box" fxFlex="30">
       <div class="topic"> Services </div>
       <div><a href="#">Gardening</a></div>
       <div><a href="#">Plumbing</a></div>
       <div><a href="#">Electrican</a></div>
       <div><a href="#">Carpenter</a></div>
       <div><a href="#">Vehicle Repair</a></div>
     </div>

     <div class="middle box" fxFlex="30">
        <div class="topic"> Services </div>
        <div><a href="#">Gardening</a></div>
        <div><a href="#">Plumbing</a></div>
        <div><a href="#">Electrican</a></div>
        <div><a href="#">Carpenter</a></div>
        <div><a href="#">Vehicle Repair</a></div>
      </div>
   </div>
   <div class="bottom">
     <p>Copyright © HandyHand an LTG Product . All Right Reserved 2021</p>
   </div>
 
